{% extends "base.html" %}

{% block body %}

<section class="section">
<div class="container">

  <h1 class="title is-2"> {{ task.name }} </h1>


  <div class="columns">

  <div class="column is-one-quarter">
    <table class="table">
    <tbody>
    <tr>
      <th>Image</th>
      <td>{{ task.image }}</td>
    </tr>
    <tr>
      <th>Entrypoint</th>
      <td>{{ task.entrypoint }}</td>
    </tr>
    <tr>
      <th>Memory</th>
      <td>{{ task.memory }}</td>
    </tr>
    <tr>
      <th>Tags</th>
      <td>{{ " ".join(task.tags) }}</td>
    </tr>
    <tr>
      <th>Enabled</th>
      <td>{{ task.enabled }}</td>
    </tr>

    </tbody>
    </table>
  </div>

  <div class="column">
    <h3 class="title is-3">Recent Runs</h3>
    <table class="table">
      <thead>
        <tr>
          <th>UUID</th>
          <th>Status</th>
          <th>Start</th>
          <th>End</th>
        </tr>
      </thead>
      <tbody>
        {% for run in runs %}
        <tr>
          <td>{{ run.uuid }}</td>
          <td>{{ run.status }}</td>
          <td>{{ run.start }}</td>
          <td>{{ run.end }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  </div>
</div>
</section>

{% endblock %}
