<html>
  <title>{{runs[0].job}} | {{date}}</title>
  <head>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>

      <h1>{{runs[0].job}} | {{date}}</h1>

      {% for run in runs %}
      <h2> Run {{ run.task_id }} </h2>
      <div class="{{ run.status }}"> {{ run.status }} </div>
      <dl>
          <dt> Start </dt>
          <dd> {{ run.start|datetime }} </dd>
          <dt> End </dt>
          <dd> {{ run.end|datetime }} </dd>
      </dl>
      <pre>{{ run.logs }}</pre>
      {% endfor %}
</body>
</html>
