<html>
  <title>
    Open States Run Log
  </title>
  <head>
    <link rel="stylesheet" href="/main.css">
  </head>
<body>
<table>
  <tr class="head">
    <th></th>
    {% for day in days %}
    <th>
      <div>{{day.month}}-{{day.day}}</div>
    </th>
    {% endfor %}
  </tr>
  <tbody>
  {% for state, state_runs in runs.items() %}
  <tr>
    <td>{{state|upper}}</td>
    {% for day in days %}
      {% set tdclass = state_runs[day].style %}
      <td class="{{tdclass}}">
        {% if state_runs[day].runs %}
          <a href="/run-{{state}}-{{day}}.html">
            {% if state_runs[day].runs|length > 1 %}
              {{state_runs[day].runs|length}}
            {% else %}
              &nbsp;
            {% endif %}
          </a>
        {% endif %}
      </td>
    {% endfor %}
  </tr>
  {% endfor %}
  </tbody>
</table>
</body>
</html>
